# obv
.DS_Store

# private
/_private

# LaTeX temp
/LaTeX/.texpadtmp/*

# Grunt
/node_modules/*
/InterviewTests/responsive-page/node_modules/*

# Bower
/bower_components/*
/InterviewTests/responsive-page/bower_components/*

# src
/InterviewTests/responsive-page/src/*

# in-progress
/Ruby/*
