#buttons {

    .btn {
        margin: 5px 3px;
    }

    .btn-wrapper {
        margin: 30px 0;
    }
}

.btn {
    color: $light-text;
    background-color: $cool-blue;
    padding: 11px 20px 13px;
    margin: 15px 0;
    @include opensans-bold(normal);
    font-size: 1em;
    letter-spacing: 0.02em;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    text-transform: uppercase;
    @include ease-out-200(all);
    @include border-radius(3px);
    @include box-shadow($light-shadow);

    .fa {
        vertical-align: middle;
        padding-bottom: 5px;
        font-size: 1.5em;
        margin: -5px 0;
        padding-right: 5px;
    }
}

.btn-small {
    padding: 5px 13px 6px;
    font-size: 14px;
}

.btn-large {
    padding: 14px 26px 16px;
    font-size: 16px;
}

.btn-wide {
    padding: 14px 26px 16px;
    font-size: 16px;
    width: 100%;
}

.btn-orange {
    background-color: $orange;
}

.btn-green {
    background-color: $green;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: $dark-blue;
    color: $light-text;
    @include ease-out-200(all);
    @include box-shadow($light-shadow);
}

h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn {
    margin-left: 15px;
}
