.contact-form-1 {

    .row {
        margin: 0 15px;
    }

    .row.pull-left {
        margin: 0 0 0 15px;
    }

    [class*=' col-'] {
        padding: 0;
    }

    .info {
        margin: 0 0 0 15px;
        padding-bottom: 0;
    }
}

form {

    * {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        margin-left: 10px;
        margin-top: 27px;
        max-width: 30%;
        float:left;
    }

    .form-control {
        float: right;
        max-width: 70%;
    }

    :first-child {
        margin-top: 35px;
    }

    :nth-child(2) {
        margin-top: 25px;
    }

    .fullwidth {
        max-width: 97%;
        margin-left: 10px !important;
    }

    .btn-wide {
        margin-left: 10px;
        max-width: 97%;
    }
}

.blue-bar {
    background: #b7daeb; /* Old browsers */
    background: -moz-linear-gradient(left,  #b7daeb 0%, #f9fcfe 100%);    // FF3.6
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b7daeb), color-stop(100%,#f9fcfe));    // Chrome/Safari4
    background: -webkit-linear-gradient(left,  #b7daeb 0%, #f9fcfe 100%);    // Chrome10+/Safari5+
    background: -o-linear-gradient(left,  #b7daeb 0%, #f9fcfe 100%);    // Opera11.10+
    background: -ms-linear-gradient(left,  #b7daeb 0%, #f9fcfe 100%);    // IE10
    background: linear-gradient(to right,  #b7daeb 0%, #f9fcfe 100%);    // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7daeb', endColorstr='#f9fcfe',GradientType=1 );    // IE6-9

    opacity: 0.9;
    height: 85px;
    padding: 20px 0;
    margin-right: -15px;

    img {
        padding: 8px 0;
    }

    p {
        color: $dark-blue;
        font-size: 16px;
    }

    h2 {
        margin: 10px 0;
    }
}
