.navbar {
    margin: 0;
    border-radius: 0;
    border: none;
    z-index: 8000;
    min-height: inherit;
    background-color: $almost-black;

    .container {
        display: table;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    .nav {

        .open > a,
        .open > a:hover,
        .open > a:focus {
            background-color: $light-text;
            border-color: $light-text;
        }
    }
}

.navbar-brand {
    font-family: 'opensans-bold', Serif;
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    max-width: 300px;
    font-size: 1.5em;
    color: $light-text;
}

.navbar-fixed-top {
    background-color: transparent;
}

.navbar-header {
    float: none !important;
    // position: relative;
    background: $almost-black;
    border-bottom: 1px solid $almost-black;
    z-index: 0;

    .navbar-brand {
        display: none;
    }

    li,
    a {
        display: table-cell;
        vertical-align: middle;
        height: 40px;
    }
}

.navbar-collapse {
    position: relative;
    background-color: $almost-black;
    background-size: cover;
    width: 100% !important;

    .navbar-brand {
        float: none;
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
        padding-left: 100px;
    }
}

.navbar-nav {
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding-left: 90px;
    margin: 0;

    > li > a {
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        text-transform: uppercase;
        color: $light-text;
        padding: 30px 30px;
        border: 1px solid transparent;
        z-index: 1;
    }
}

.nav {
    > li > a:hover,
    > li > a:focus  {
        background-color: $almost-black;
        border-color: $almost-black;
        color: $dark-blue;
    }
}

.btn.responsive-menu {
    display: none;
    background-color: $dark-blue;
    width: 40px;
    height: 40px;
    font-size: 2em;
    padding: 0;
    margin: 0;

    .fa {
        vertical-align: middle;
        padding-bottom: 0;
        font-size: 1em;
        margin: 0;
        padding-right: 0;
    }
}

// Dropdown
.navbar {

    .dropdown-menu {
        padding: 0;
        margin: 0;
        width: auto;
        background: $almost-black;
        border: none;
        border: 1px solid $light-text;
        border-bottom-width: 2px;
        border-bottom-color: $light-text;
        @include border-radius(3px);
        -webkit-border-top-left-radius: 0 !important;
        -moz-border-radius-topleft: 0 !important;
        border-top-left-radius: 0 !important;
        @include big-box-shadow($light-shadow);
        z-index: 0;
    }

    .dropdown-submenu .dropdown-menu {
        top: -1px !important;
    }

    .dropdown-submenu:hover > a,
    .dropdown-submenu:focus > a, {
        background: $almost-black;
        color: $light-text;
    }

    .dropdown-menu:not(.yamm-dropdown-menu) {

        li {
            background: $almost-black;
            border: none;
            border-top: 1px solid $steel-grey;
        }

        li:first-child {
            border: none;
        }

        li a {
            line-height: 18px;
            padding: 13px 20px;
            color: $light-text;
            text-transform: uppercase;
            font-weight: 700;
            white-space: normal;
        }

        li a:hover,
        li a.active {
            filter: none;
            background-color: $light-text;
            color: $almost-black;
        }

        > li > a:hover,
        > li > a:focus,
        > .active > a,
        > .active > a:hover,
        > .active > a:focus {
            background: $almost-black;
            color: $rarity-purple;
        }
    }

    > li > .dropdown-menu:not(.yamm-dropdown-menu):after,
    > li > .dropdown-menu:not(.yamm-dropdown-menu):before {
        display: none;
    }
}

// No Menu Options
// .navbar-nav {
//     display: none;
// }
