// Text

$light-text: rgba(250,250,250,1);

$dark-text: rgba(32,32,32,1);

// Transparency

$almost-black: rgba(0,0,0,0.85);

$light-shadow: rgba(0,0,0,0.15);

$transparent: rgba(255,255,255,0);

$transparent-white: rgba(255,255,255,0.15);

// Greys

$menu-light-grey: rgba(245,247,250,1);

$white-grey: rgba(237,237,237,1);

$light-grey: rgba(230,233,237,1);

$steel-grey: rgba(206,215,224,1);

$pale-grey: rgba(212,212,212,1);

$light-blue-grey: rgba(188,199,209,1);

$mid-grey: rgba(163,177,191,1);

$slate-grey: rgba(86,100,115,1);

$dark-grey: rgba(75,75,75,1);

$darker-grey: rgba(51,51,51,1);

// Colors

$rarity-purple: rgba(94,79,162,1);

$cool-blue: rgba(46,174,240,1);

$dark-blue: rgba(2,110,166,1);

$darker-blue: rgba(0,49,94,1);

$deep-blue: rgba(0,36,69,1);

$grey-blue: rgba(112,126,140,1);

$pale-blue: rgba(115,135,156,1);

$sea-green: rgba(26,187,156,1);

$treehouse: rgba(95,207,128,1);

$orange: rgba(247,147,32,1);

$green: rgba(97,167,68,1);

$peach: rgba(217,152,152,1);
